<h1 class="page-title">{{ title }}</h1>
{% for post in posts %}
<div class="row post-image">
      {% if post.assets.size > 0 %}
      {% assign image_url = post.assets.first.url %}
      {% endif %}

      <div class="col-xs-12 col-md-7">
      	<img src="{{image_url}}" alt="{{post.title}}" />
      	
      	<h2 class="image-title">{{post.title}}</h2>
      </div>
      <div class="col-xs-12 col-md-5">
      	<div class="image-description">{{ post.meta.description | markdown }}</div>
      </div>
</div>	
{% endfor %}





