// ######VARIABLES#########

$font-stack: "Lato", Helvetica, sans-serif;

$normal-font: 16px;
$big-font: 40px;
$bold-font: 700;

$white: #ffffff;
$black: #333;
$red: #b01e1e;

// ###### END VARIABLES#########

html, body {
	height: 100%;
}

body {
	font-family: $font-stack;
	font-size: $normal-font;
	font-weight: 300;
	background-color: #fafafa;
	color: $black;
}

img {
	width: 100%;
}

em {
	display: block;
	font-style: italic;
}

a {
	color: $black;
	text-decoration: underline;
}

a:focus {
	text-decoration: none;
	outline: 0;
}

p {
	line-height: 1.65em;
	margin-bottom: 20px;
	letter-spacing: .03em;
	word-spacing: .05em;
}

a:hover {
	color: $red;
}

.primary-header a {
	text-decoration: none;
}

a.is-current-page {
	text-decoration: underline;
}

.primary-header {
	position: relative;
}

.site-title {
	font-weight: 100;
	font-size: $big-font;
	text-transform: uppercase;
	letter-spacing: .05em;
	display: inline-block;
	line-height: 0;
	margin-left: -3px;
}

h1.page-title {
	font-size: 24px;
	margin-bottom: 40px;
}


header {
	padding-top: 100px;
	margin-bottom: 80px;
}


ul.page-menu {
	display: inline-block;
	position: absolute;
	right: 0;
	bottom: 0;
}

.page-menu li {
	display: inline;
}

.page-menu li:first-child {
	display:none;
}

.page-menu a {
	padding: 0 15px;
}

.page-menu a:last-child {
	padding-right: 0px;
}

/* Wrapper for page content to push down footer */
.wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -100px;
  /* Pad bottom by footer height */
  padding: 0 0 100px;
}

.container-main {
	margin-bottom: 60px;
}

/* Set the fixed height of the footer here */
footer {
	border-top: 1px $black solid;
	padding-top: 40px;
	height: 100px;
	position: relative;
}

.rights-reserved {
	font-size: 9px;
}

.flickr {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  top: 35px;
}


.no-padding {
	padding: 0;
}

// PROJECT GALLERY

.image-description br {
	display: block;
	line-height: 3em;
}

.post-image {
	margin-bottom: 50px;
}

.image-title {
	margin-top: 10px;
	font-style: italic;
}

.img-thmb{
	height: 100%;
	width: 100%;
}


// ABOUT PAGE

.about h1 {
	font-size: 20px;
	margin-bottom: 5px;
	margin-top: 40px;
}

.about h2 {
	margin-bottom: 30px;
}

.about ul {
	margin-top: -15px;
	margin-bottom: 30px;
}

.about li {
	padding: 5px 0;
}

.about img {
	margin-bottom: 10px;
}


// BOOTSTRAP OVERRIDE

@media screen and (min-width: 992px){

	.container {
		width: 970px;
	}

}



// MEDIA QUERIES 

// ***MIN***

@media screen and (min-width: 480px){
	// .img-thmb{
	// 	height: 345px;
	// 	width: 345px;
	// }
}

@media only screen and (min-width : 768px) {
	.img-thmb {
		height: 345px; 
		width: 345px;
	}
}

@media only screen and (min-width : 992px) {
	.img-thmb{
		height: 213px;
		width: 213px;
	}
}

// ***MAX***

@media screen and (max-width:992px){
	.image-title {
		margin-bottom:20px;
	}
}

@media screen and (max-width: 768px){
	.site-title{
		display: block;
		text-align: center;
		margin-bottom: 40px;
	}

	.primary-header {
		text-align: center;
	}

	.effect-bubba {
		width: 100%;
		height: 300px;

	}

	figure {
		margin-bottom: 80px;
	}
}
