/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 15, ../sass/base.scss */
html, body {
  height: 100%;
}

/* line 19, ../sass/base.scss */
body {
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  background-color: #fafafa;
  color: #333;
}

/* line 27, ../sass/base.scss */
img {
  width: 100%;
}

/* line 31, ../sass/base.scss */
em {
  display: block;
  font-style: italic;
}

/* line 36, ../sass/base.scss */
a {
  color: #333;
  text-decoration: underline;
}

/* line 41, ../sass/base.scss */
a:focus {
  text-decoration: none;
  outline: 0;
}

/* line 46, ../sass/base.scss */
p {
  line-height: 1.65em;
  margin-bottom: 20px;
  letter-spacing: .03em;
  word-spacing: .05em;
}

/* line 53, ../sass/base.scss */
a:hover {
  color: #b01e1e;
}

/* line 57, ../sass/base.scss */
.primary-header a {
  text-decoration: none;
}

/* line 61, ../sass/base.scss */
a.is-current-page {
  text-decoration: underline;
}

/* line 65, ../sass/base.scss */
.primary-header {
  position: relative;
}

/* line 69, ../sass/base.scss */
.site-title {
  font-weight: 100;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: .05em;
  display: inline-block;
  line-height: 0;
  margin-left: -3px;
}

/* line 79, ../sass/base.scss */
h1.page-title {
  font-size: 24px;
  margin-bottom: 40px;
}

/* line 85, ../sass/base.scss */
header {
  padding-top: 100px;
  margin-bottom: 80px;
}

/* line 91, ../sass/base.scss */
ul.page-menu {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* line 98, ../sass/base.scss */
.page-menu li {
  display: inline;
}

/* line 102, ../sass/base.scss */
.page-menu li:first-child {
  display: none;
}

/* line 106, ../sass/base.scss */
.page-menu a {
  padding: 0 15px;
}

/* line 110, ../sass/base.scss */
.page-menu a:last-child {
  padding-right: 0px;
}

/* Wrapper for page content to push down footer */
/* line 115, ../sass/base.scss */
.wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -100px;
  /* Pad bottom by footer height */
  padding: 0 0 100px;
}

/* line 124, ../sass/base.scss */
.container-main {
  margin-bottom: 60px;
}

/* Set the fixed height of the footer here */
/* line 129, ../sass/base.scss */
footer {
  border-top: 1px #333 solid;
  padding-top: 40px;
  height: 100px;
  position: relative;
}

/* line 136, ../sass/base.scss */
.rights-reserved {
  font-size: 9px;
}

/* line 140, ../sass/base.scss */
.flickr {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  top: 35px;
}

/* line 149, ../sass/base.scss */
.no-padding {
  padding: 0;
}

/* line 155, ../sass/base.scss */
.image-description br {
  display: block;
  line-height: 3em;
}

/* line 160, ../sass/base.scss */
.post-image {
  margin-bottom: 50px;
}

/* line 164, ../sass/base.scss */
.image-title {
  margin-top: 10px;
  font-style: italic;
}

/* line 169, ../sass/base.scss */
.img-thmb {
  height: 100%;
  width: 100%;
}

/* line 177, ../sass/base.scss */
.about h1 {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 40px;
}

/* line 183, ../sass/base.scss */
.about h2 {
  margin-bottom: 30px;
}

/* line 187, ../sass/base.scss */
.about ul {
  margin-top: -15px;
  margin-bottom: 30px;
}

/* line 192, ../sass/base.scss */
.about li {
  padding: 5px 0;
}

/* line 196, ../sass/base.scss */
.about img {
  margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
  /* line 205, ../sass/base.scss */
  .container {
    width: 970px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 225, ../sass/base.scss */
  .img-thmb {
    height: 345px;
    width: 345px;
  }
}
@media only screen and (min-width: 992px) {
  /* line 232, ../sass/base.scss */
  .img-thmb {
    height: 213px;
    width: 213px;
  }
}
@media screen and (max-width: 992px) {
  /* line 241, ../sass/base.scss */
  .image-title {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  /* line 247, ../sass/base.scss */
  .site-title {
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }

  /* line 253, ../sass/base.scss */
  .primary-header {
    text-align: center;
  }

  /* line 257, ../sass/base.scss */
  .effect-bubba {
    width: 100%;
    height: 300px;
  }

  /* line 263, ../sass/base.scss */
  figure {
    margin-bottom: 80px;
  }
}
/* line 1, ../sass/bg-dark.scss */
.bg-dark {
  color: white;
}

/* line 5, ../sass/bg-dark.scss */
.bg-dark a {
  color: white;
}

/* line 10, ../sass/bg-dark.scss */
.bg-dark footer {
  border-top: 1px white solid;
}

@media screen and (min-width: 992px) {
  /* line 3, ../sass/hover-grid.scss */
  .grid figure .img-thmb {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
  }

  /* line 10, ../sass/hover-grid.scss */
  .grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  /* line 19, ../sass/hover-grid.scss */
  .grid figure figcaption::before,
  .grid figure figcaption::after {
    pointer-events: none;
  }

  /* line 24, ../sass/hover-grid.scss */
  .grid figure figcaption,
  .grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Anchor will cover the whole item by default */
  /* For some effects it will show as a button */
  /* line 35, ../sass/hover-grid.scss */
  .grid figure figcaption > a {
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
  }

  /* line 43, ../sass/hover-grid.scss */
  .grid figure h2 {
    word-spacing: .25em;
    font-weight: 300;
    font-size: 18px;
  }

  /* line 49, ../sass/hover-grid.scss */
  .grid figure h2 span {
    font-weight: 800;
  }

  /* line 53, ../sass/hover-grid.scss */
  .grid figure h2,
  .grid figure p {
    margin: 0;
  }

  /* line 58, ../sass/hover-grid.scss */
  .grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
  }

  /*---------------*/
  /***** Bubba *****/
  /*---------------*/
  /* line 68, ../sass/hover-grid.scss */
  .effect-bubba {
    background: #333;
  }

  /* line 76, ../sass/hover-grid.scss */
  figure.effect-bubba .img-thmb {
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    opacity: 1;
  }

  /* line 86, ../sass/hover-grid.scss */
  figure.effect-bubba:hover .img-thmb {
    opacity: 0.4;
  }

  /* line 90, ../sass/hover-grid.scss */
  figure.effect-bubba figcaption::before,
  figure.effect-bubba figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
  }

  /* line 103, ../sass/hover-grid.scss */
  figure.effect-bubba figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
  }

  /* line 110, ../sass/hover-grid.scss */
  figure.effect-bubba figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }

  /* line 117, ../sass/hover-grid.scss */
  figure.effect-bubba h2 {
    padding-top: 35%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
    opacity: 0;
    text-align: center;
    color: #fff;
  }

  /* line 128, ../sass/hover-grid.scss */
  figure.effect-bubba p {
    padding: 20px 2.5em;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  /* line 137, ../sass/hover-grid.scss */
  figure.effect-bubba:hover figcaption::before,
  figure.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  /* line 144, ../sass/hover-grid.scss */
  figure.effect-bubba:hover h2,
  figure.effect-bubba:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 151, ../sass/hover-grid.scss */
  .hoverH2 {
    color: #fff;
  }
}
@media screen and (max-width: 992px) {
  /* line 159, ../sass/hover-grid.scss */
  figcaption {
    text-align: center;
    margin-top: 10px;
  }

  /* line 164, ../sass/hover-grid.scss */
  figure {
    margin-bottom: 50px;
  }

  /* line 168, ../sass/hover-grid.scss */
  figcaption h2 {
    font-size: 20px;
  }
}
/* line 1, ../sass/nav.scss */
#nav-trigger {
  display: none;
  text-align: center;
}

/* line 4, ../sass/nav.scss */
#nav-trigger span {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #333;
  cursor: pointer;
  text-transform: uppercase;
}

/* line 11, ../sass/nav.scss */
nav#nav-mobile {
  position: relative;
  display: none;
}

/* line 14, ../sass/nav.scss */
nav#nav-mobile ul {
  display: none;
  list-style-type: none;
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
  background-color: #333;
}

/* line 25, ../sass/nav.scss */
nav#nav-mobile li {
  display: block;
  padding: 5px 0;
  margin: 0 5px;
  border-bottom: solid 1px #fafafa;
}

/* line 30, ../sass/nav.scss */
nav#nav-mobile li:last-child {
  border-bottom: none;
}

/* line 32, ../sass/nav.scss */
nav#nav-mobile a {
  display: block;
  color: white;
  padding: 20px 30px;
}

/* line 36, ../sass/nav.scss */
nav#nav-mobile a:hover {
  background-color: #b01e1e;
  color: #fff;
}

/* line 43, ../sass/nav.scss */
.bg-dark #nav-trigger span {
  border: solid 1px white;
}

/* line 47, ../sass/nav.scss */
.bg-dark nav#nav-mobile ul {
  background: #fafafa;
}

/* line 51, ../sass/nav.scss */
.bg-dark nav#nav-mobile a {
  color: #333;
}

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 768px) {
  /* line 58, ../sass/nav.scss */
  #nav-trigger {
    display: inline-block;
  }

  /* line 61, ../sass/nav.scss */
  nav#nav-main {
    display: none;
  }

  /* line 64, ../sass/nav.scss */
  nav#nav-mobile {
    display: block;
  }
}
